@charset "UTF-8";
/* ここから記述します。 */
/* 共通部品 */
html {
  font-family: "Zen Kaku Gothic New", sans-serif;
  color: #382710;
  background-color: #fcfaf2;
  line-height: 1.5;
  letter-spacing: 0.08em;
}

.u-wrapper {
  max-width: 1280px;
  padding: 0 100px;
}
.u-sectionHeading {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media screen and (max-width: 768px) {
  .u-sectionHeading {
    gap: 10px;
  }
}

.u-sectionTiTle {
  font-weight: 500;
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  .u-sectionTiTle {
    font-size: 24px;
  }
}

/* 個別部品 */
/*--------------------------------
header
---------------------------------*/
.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .header {
    height: auto;
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
    max-width: none;
  }
}

.u-wrapper {
  display: flex;
  padding: 0 100px;
  margin: 0 auto;
  max-width: 1280px;
}

@media screen and (max-width: 768px) {
  .header__logo {
    margin: 11px 13px;
    width: 120px;
  }
}

@media screen and (max-width: 768px) {
  .header__nav {
    width: 100%;
    background-color: #fcfaf2;
  }
}

.header__list {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .header__list {
    padding: 8px 20px;
    justify-content: center;
  }
}

.header__menuLink {
  font-weight: 500;
  font-style: 16px;
}
@media screen and (max-width: 768px) {
  .header__menuLink {
    font-style: 14px;
  }
}

.firstView {
  position: relative;
}

.firstView__img {
  width: 100%;
  font: 500px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .firstView__img {
    height: 240px;
  }
}

.firstView__title {
  width: 580px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  text-align: center;
  background-color: rgba(255, 253, 243, 0.9);
  padding: 8px 32px;
}
@media screen and (max-width: 768px) {
  .firstView__title {
    width: 302px;
    font-size: 22px;
    padding: 3px 10px;
  }
}

.firstView__title--bold {
  display: block;
  font-weight: 500;
}

.container {
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .container {
    gap: 50px;
  }
}

.main {
  padding: 64px;
  width: 69%;
}
@media screen and (max-width: 1024px) {
  .main {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .main {
    padding: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .main {
    padding: 50px 0 30px;
  }
}
.main .sidebarLeft {
  display: flex;
  flex-direction: column;
  gap: 56px;
}
@media screen and (max-width: 480px) {
  .main .sidebarLeft {
    gap: 40px;
  }
}
.main .news {
  display: flex;
  flex-direction: column;
  gap: 42px;
}
@media screen and (max-width: 480px) {
  .main .news {
    gap: 30px;
  }
}
.main .news__top {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.main .news__text {
  font-style: 16px;
}
@media screen and (max-width: 768px) {
  .main .news__text {
    font-style: 15px;
  }
}
.main .news__contents {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 640px;
}
.main .news__img {
  width: 100%;
}
.main .news__pickup {
  max-width: 640px;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .main .news__pickup {
    width: 100%;
  }
}
.main .news__detail {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
@media screen and (max-width: 480px) {
  .main .news__detail {
    gap: 8px;
  }
}
.main .news__detailDate {
  font-style: 14px;
  font-weight: 500;
}
.main .news__detailTitle {
  font-size: 15px;
  font-weight: 700;
}
.main .news__detailText {
  font-size: 15px;
  letter-spacing: 0.06em;
}
.main .news__bottom {
  display: flex;
  gap: 24px;
  padding-bottom: 24px;
}
@media screen and (max-width: 480px) {
  .main .news__bottom {
    flex-direction: column;
    gap: 30px;
  }
}
.main .news__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}
.main .special {
  display: flex;
  flex-direction: column;
  quotes: 42px;
}
@media screen and (max-width: 480px) {
  .main .special {
    gap: 30px;
  }
}
.main .special__top {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.main .special__contents {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 640px;
}
.main .special__img {
  width: 100%;
}
.main .special__pickup {
  max-width: 640px;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .main .special__pickup {
    width: 100%;
  }
}
.main .special__detail {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.main .special__detailDate {
  font-size: 15px;
  font-weight: 700;
}
.main .special__detailTitle {
  font-size: 15px;
  letter-spacing: 0.06em;
}
.main .special__detailText {
  font-size: 15px;
  letter-spacing: 0.06mm;
}
.main .special__bottom {
  display: flex;
  gap: 24px;
  padding-bottom: 24px;
}
@media screen and (max-width: 480px) {
  .main .special__bottom {
    flex-direction: column;
    gap: 30px;
  }
}
.main .special__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}
.main .special__img {
  width: 100%;
}
.main .special__linkText {
  display: flex;
  align-items: center;
  font-style: 15px;
  width: fit-content;
  margin-left: auto;
}
.sidebar {
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  gap: 33px;
  width: 28%;
}
@media screen and (max-width: 1024px) {
  .sidebar {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .sidebar {
    padding: 0 0 50px;
    gap: 41px;
  }
}

/*--------------------------------
category
---------------------------------*/
.categry {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.category__contents {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.category__top {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 480px) {
  .category__top {
    gap: 20px;
  }
}

.caetegory__text {
  font-size: 14px;
}

.cotegry__linkText {
  display: flex;
  align-items: center;
  font-size: 16px;
  width: fit-content;
  margin-left: auto;
}

.category__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
}

.cateory__btn {
  border: 0.5px solid #d4cdb3;
  border-radius: 5px;
}

.catedry__btnLink {
  display: block;
  padding: 11px 6px;
}

.category__btnImg {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .category__btnImg {
    margin-bottom: 16px;
  }
}

.categry__btnText {
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.05em;
}

.category__search {
  display: flex;
  border: 1px solid #d4cdb3;
  border-radius: 3px;
  height: 43px;
}

.category__searchInput {
  background-color: #fcfaf2;
  width: calc(100% - 53px);
  padding: 8px;
}

.category__searchBtn {
  background-color: #fff2bf;
  padding: 10px;
  width: 53px;
}

.category__img {
  width: 100%;
}

.popularity__linkText {
  display: flex;
  align-items: center;
  font-size: 16px;
  width: fit-content;
  margin-left: auto;
}
@media screen and (max-width: 480px) {
  .popularity__linkText {
    margin-bottom: 20px;
  }
}

.popularity__item {
  border-top: 1px solid #e8e3d2;
}
.popularity__item:last-child {
  border-bottom: 1px solid #e8e3d2;
}

.popularity__link {
  display: flex;
  gap: 20px;
  padding: 14px 0;
}

.popularity__itemText {
  font-style: 14px;
}
@media screen and (max-width: 480px) {
  .popularity__itemText {
    font-style: 16px;
  }
}

.post {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media screen and (max-width: 480px) {
  .post {
    gap: 20px;
  }
}

.post__linkImg {
  display: flex;
  align-items: center;
  font-size: 16px;
  width: fit-content;
  margin-left: auto;
}

.footer {
  background-color: #fff;
  padding: 42px;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 48px 30px 14px;
  }
}

.footer__contents {
  display: flex;
  max-width: 985px;
  margin: 0 auto;
  gap: 160px;
}
@media screen and (max-width: 1024px) {
  .footer__contents {
    gap: 80px;
  }
}
@media screen and (max-width: 768px) {
  .footer__contents {
    flex-direction: column-reverse;
    gap: 40px;
  }
}

.footer__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

footer__catch {
  font-style: 14px;
}

.footer__menu {
  display: flex;
  gap: 160px;
}
@media screen and (max-width: 1024px) {
  .footer__menu {
    gap: 80px;
  }
}
@media screen and (max-width: 768px) {
  .footer__menu {
    flex-direction: column;
    gap: 40px;
  }
}

.footer__center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.footer__title {
  display: inline;
  border-bottom: 0.5px solid #b2527f;
  padding-bottom: 4px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__item {
  font-style: 16px;
}

.footer__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}/*# sourceMappingURL=style.css.map */